@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';
@import '../../assets/scss/base.scss';
@import '../../components/SideBar/Sidebar.scss';


.generalAnalysisPage {
  background-color: $light-gray-color;
  min-height: 100vh;
  position: relative;
  padding: $pagePadding;
  
  > .rightAligned {
    @include flexBox(column);
    align-self: flex-end;
    width: $rightAlignedWidth;
    margin-left: calc(100% - #{$rightAlignedWidth});

    > section {
      @extend .baseSection
    }
  }
}