@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.generalAnalysisPage {
  background-color: $light-gray-color;
  min-height: 100vh;
  position: relative;
  padding: 15px;
  
  > .rightAligned {
    @include flexBox(column);
    min-width: 80%;
  }
}