$pagePadding: 15px;
$baseMargin: 10px;
$rightAlignedWidth: 90%;


.baseSection {
  align-self: flex-end;
  margin-bottom: $baseMargin;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  min-width: 100%;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}