$primary-color: #1CA698;
$secondary-color: #04BF7B;

$black-color: #0D0D0D;
$gray-color: #BFBFBF;
$light-gray-color: #F2F2F2;

$font-xxxlarge: calc(22px + 1.5vw);

$font-xlarge: calc(16px + 1vw);
$font-large: calc(14px + 0.8vw);
$font-medium: calc(12px + 0.8vw);
$font-small: calc(10px + 0.8vw);
$font-xsmall: calc(8px + 0.8vw);
$font-xxsmall: calc(6px + 0.8vw); 