$primary-color: #1CA698;
$secondary-color: #04BF7B;

$black-color: #0D0D0D;
$gray-color: #BFBFBF;
$gray-color-2: #cacaca;
$light-gray-color: #F2F2F2;

$font-xxxlarge: calc(22px + 1.5vw);

$font-xlarge: calc(18px + 1vw);
$font-large: calc(16px + 0.3vw);
$font-medium: calc(13px + 0.3vw);
$font-small: calc(12px + 0.3vw);
$font-xsmall: calc(9px + 0.3vw);
$font-xxsmall: calc(8px + 0.2vw); 
$font-xxxsmall: calc(6px + 0.2vw); 
